<section  class="ic-change-password" data-ng-controller="UserController">
<h3>Change Password&nbsp;</h3>

<div class="row">
	<div class="col-md-6">
		<div class="tab-content panel panel-default" >
			<div role="tabpanel" class="tab-pane active page page-dashboard" id="info">
				<form role="form" name="changeUserPasswordForm" ng-submit="changePassword()" novalidate>
					<div class="form-group has-feedback">
						<label for="signupInputPassword1" class="text-muted">Old Password</label>
						<input id="signupInputPassword1" type="password" autocomplete="off" class="no-border-radius form-control" name="userOldPassword" ng-model="userPassword.userOldPassword" ng-required="true" ng-minlength="8" ng-maxlength="20"/>
						<!-- <span class="fa fa-lock form-control-feedback text-muted"></span> -->
						<span class="text-error" data-ng-show="isChangeUserPasswordFormSubmitted && changeUserPasswordForm.userOldPassword.$error.required">Please enter your current password.</span>
						<span class="text-error" data-ng-show="isChangeUserPasswordFormSubmitted && changeUserPasswordForm.userOldPassword.$error.minlength">Old password must be between 8-20 characters long.</span>
						<span class="text-error" data-ng-show="isChangeUserPasswordFormSubmitted && changeUserPasswordForm.userOldPassword.$error.maxlength">Old password must be between 8-20 characters long.</span>
					</div>
					<div class="form-group has-feedback">
						<label for="signupInputPassword1" class="text-muted">New Password</label>
						<input id="signupInputPassword1" type="password" autocomplete="off" class="no-border-radius form-control" name="userNewPassword" ng-model="userPassword.userNewPassword" ng-required="true" ng-minlength="8" ng-maxlength="20" ng-keyup="checkConfirmPassword()"/>
						<!-- <span class="fa fa-lock form-control-feedback text-muted"></span> -->
						<span class="text-error" data-ng-show="isChangeUserPasswordFormSubmitted && changeUserPasswordForm.userNewPassword.$error.required">A new password is required.</span>
						<span class="text-error" data-ng-show="isChangeUserPasswordFormSubmitted && changeUserPasswordForm.userNewPassword.$error.minlength">New password must be between 8-20 characters long.</span>
						<span class="text-error" data-ng-show="isChangeUserPasswordFormSubmitted && changeUserPasswordForm.userNewPassword.$error.maxlength">New password must be between 8-20 characters long.</span>
					</div>
					<div class="form-group has-feedback">
						<label for="signupInputPassword1" class="text-muted">Confirm New Password</label>
						<input id="signupInputPassword1" type="password" autocomplete="off" class="no-border-radius form-control"  name="userConfirmPassword" ng-model="userPassword.userConfirmPassword" ng-required="true" ng-minlength="8" ng-maxlength="20" ng-keyup="checkConfirmPassword()"/>
						<span class="fa fa-<!-- l -->ock form-control-feedback text-muted"></span>
						<span class="text-error" data-ng-show="isChangeUserPasswordFormSubmitted && changeUserPasswordForm.userConfirmPassword.$error.required">This field is required.</span>
						<span class="text-error" data-ng-show="isChangeUserPasswordFormSubmitted && changeUserPasswordForm.userConfirmPassword.$error.minlength">Confirm password must be between 8-20 characters long.</span>
						<span class="text-error" data-ng-show="isChangeUserPasswordFormSubmitted && changeUserPasswordForm.userConfirmPassword.$error.maxlength">Confirm password must be between 8-20 characters long.</span>
						<span class="text-error" data-ng-show="isChangeUserPasswordFormSubmitted && isConfirmPasswordNotMatch && ( !changeUserPasswordForm.userConfirmPassword.$error.required && !changeUserPasswordForm.userConfirmPassword.$error.minlength && !changeUserPasswordForm.userConfirmPassword.$error.maxlength)">Confirm pasword do not match.</span>
					</div>
					<div class="modal-footer no-border-top">
						<a href="#!/dashboard" class="btn btn-default">Cancel</a>
						<button type="submit" class=" btn btn-danger" data-ng-disabled="isChangePasswordBtnDisabled" data-ng-model="isChangePasswordBtnDisabled">CHANGE</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>