<div data-ng-controller="UserController" class="creaditienl-boxes">

    <div class="alert alert-danger animated fadeIn" ng-show="resetpassworderror">{{resetpassworderror}}</div>
    <div ng-repeat="error in validationError">
        <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
    </div>
    <form ng-submit="resetpassword()" name="resetPassForm" class="reset form-horizontal" novalidate>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fa fa-lock"></span>
                </span>
                <input type="password" autocomplete="off"  class="form-control input-lg" placeholder="Password" name="userPassword" ng-model="user.password" data-ng-required="true">
            </div>
            <span class="text-red pull-right" data-ng-show="isResetPasswordFrmSubmitted && resetPassForm.userPassword.$error.required">Password is required</span>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="fa fa-lock"></span>
                </span>
                <input type="password" autocomplete="off"  class="form-control input-lg" placeholder="Repeat Password" name="confirmPassword" ng-model="user.confirmPassword" data-ng-required="true">
            </div>
            <span class="text-red pull-right" data-ng-show="isResetPasswordFrmSubmitted && resetPassForm.confirmPassword.$error.required">Password is required</span>
        </div>

        <div class="form-group save">
            <button type="submit" class="btn btn-primary btn-lg btn-block text-center" data-ng-disabled="isResetPasswordBtnDisabled">Save</button>
        </div>
    </form>
</div>

