<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>dbsMfg ::: Proximity-Based Information Systems</title>
	
<link rel="stylesheet" type="text/css" href="stylesheets/email.css" />

</head>
 
<body bgcolor="#FFFFFF">
<br />
<br />


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<br />
						<p class="lead" style="text-align: center;">Hey {{first_name}}, {{last_name}} has invited you to join the team for their <br /><strong>{{tourName}}</strong> tour. As a tour member you will be able to monitor and manage the tour settings and content based on your role.</p>
						<br />
						<br />
						<p style="text-align: center;">
							<a class="btn">Accept Tour Invitation</a>
						</p>

						<br />
						<p class="lead" style="text-align: center;">
							or copy &amp; paste this link into your browser:<br />
							<a href="http://{{host}}/activation/{{token}}/link">http://{{host}}/#!/activation/{{token}}/link</a>
						</p>
						<br />
						<br />
						<br />	
					</td>
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				
				<table>
				<tr>
					<td align="center">
						<p class="muted">
							&copy;2016 dbsMfg LLC. All Rights Reserved. If you need assistance, please <a href="mailto:support@dbsMfg.com">email us</a>. 
						</p>
					</td>
				</tr>

			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>
</html>