.ic-dbsMfg-body .view-content {
  padding: 100px 50px; }

.ic-dbsMfg-body .creaditienl-boxes {
  background-color: whitesmoke;
  padding: 50px;
  width: 500px;
  margin: auto;
  border-radius: 5px; }

.ic-dbsMfg-body .text-red {
  color: red; }
